* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    direction: rtl;
    line-height: 1.6;
 /* background-image: url('kkNCOBb.png'); */
    background-size: cover;   
} 

#main img {
    position: relative;
    width: 300px;
    border-radius: 50%;
    margin-right: 50px;
    animation: move alternate-reverse infinite 1s;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.logo img {
    position: relative;
    width: 300px;
    border-radius: 50%;
    margin-right: 50px;
    animation: move alternate-reverse infinite 1s;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: move;
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
}

.sec0{
   max-width: 30%;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.sec0:hover{
    transform: scale(1.1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.sec1{
   max-width: 30%;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.sec1:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.sec2{
   max-width: 30%;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.sec2:hover{
    transform: scale(1.1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.sec3{
   max-width: 30%;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.sec3:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.sec4{
   max-width: 30%;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.sec4:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
header {
    color: #000000;
    padding: 10px 0;
}

header .logo img {
    max-width: 50%;
    height: auto;
    display: block;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;

}

.sec0, .sec1, .sec2, .sec3, .sec4 {
    width: 80px;
    height: 35px;
    padding: 4px;
    background-color: #333;
    box-shadow: 8px 2px 14px lightblue;
    text-align: center;
}
.nav-links li {
    margin: 0 10px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px; /* Adjust font size */
}

.container {
    background: #333;
    transition: width 2s;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    display: block;
    margin-inline-start: auto;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: -webkit-fill-available;
    border-width: 2px;
    border-style: groove;
    border-color: #000000;
    border-image: initial;
}

.name {
            text-align: center;
            font-weight: bold;
            font-size: 100px;
        }

        #content {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            padding: 20px;
            background-color: burlywood;
        }

        .explaination {
            display: inline;
            flex-direction: row;
        }

        .column {
            display: flex;
            flex-direction: column;
            width: 48%; /* عرض كل عمود */
        }

        .title {
            text-align: center;
        }

        button {
            text-align: center;
            font-size: 20px;
            margin-bottom: 10px; 
            width: 300px;
            padding: 10px 20px; 
            background-color: #776d33; 
            color: white;
            border: none;
            border-radius: 15px;
            cursor: pointer; 
        }

        button:hover {
            background-color: #e68249;
            transition: 600ms;
        }

        #right, #left {
            font-weight: bold;
            font-size: 80px;
            margin-bottom: 32px;
        }

        #right-text, #left-text {
            font-size: 36px;
        }

        #right-buttons, #left-buttons {
            display: flex;
            flex-direction: column;
        }

#right-buttons {
    margin-right: 240px;
}

#left-buttons {
    margin-right: 240px;
}

#rule1 {
    background-color: #1f1c1c;
    padding-right: 200px;
    padding-top: 90px;
    padding-bottom: 90px;
}

h4 {
    color: #fff;
    font-size: 50px;
}

#rule1 p {
    color: #fff;
    margin-top: 30px;
    font-size: 20px;
    max-width: 950px;
}

#rule2 {
    padding-right: 200px;
    background-color: #041a27;
}

h5 {
    color: #fff;
    font-size: 60px;
    text-align: center;
}

#rule2 p {
    color: white;
    margin-top: 10px;
    font-size: 23px;
}

.explain{
    color: white;
    margin-top: 10px;
    font-weight: bold;
    font-size: 26px;
}

.points {
    color: white;
    font-size: 23px;
}

#rule2 a {
    color: red;
}

.hero {
    /* background-color: #fff; */
    padding: 50px 0;
    text-align: center;
}
footer {
    /* background-color: #333; */
    color: #000000;
    text-align: center;
    padding: 10px 0;
}

footer p {
    font-size: 20px;
}

.discord-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #0042f8;
    font-weight: bold;
    font-size: 30px;    
    display: inline;
    margin-left: 30px;
}  